lr3/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StorageOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SourceDir" type="xs:string" />
              <xs:element name="TargetDir" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ArchiveOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ZipName" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CryptingOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EncryptionKey" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>